*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

/* Main App */
label select {
  display: flex;
  flex-direction: column;
}

.btn-container {
  display: flex;
  margin: auto;
  flex-direction: row;
  justify-content: center;
}

.btn {
  margin: auto 2.5px;
}

.major-minor-container {
  margin: 0 5px;
}

.input-display {
  display: flex;
  margin: 15px auto 0 auto;
  flex-direction: row;
  justify-content: center;
}

#display-head {
  background: linear-gradient(
    140deg,
    rgb(136, 171, 236),
    rgb(237, 129, 167),
    rgb(158, 201, 227),
    rgb(237, 129, 167)
  );
  background-size: 170%;
  animation: animateKeyChord 14s infinite alternate;
  filter: drop-shadow(4px 4px #000000);
}

@keyframes animateKeyChord {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.output-container {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.chord-display {
  display: flex;
  margin: auto;
  justify-content: center;
  flex-direction: column;
}
.chord-display h1 {
  display: flex;
  margin: 25px auto;
  justify-content: center;
}
.chord-display p {
  display: flex;
  margin: 15px auto 0;
  justify-content: center;
  padding: 5px;
  background-color: rgb(237, 206, 129);
  border-radius: 5px;
  border: black 1px solid;
}

/* #notes-display {
  filter: drop-shadow(3px 3px #000000);
} */

/* features.html styles */
.features {
  margin: 25px auto;
  width: 60%;
}
